---
import Breadcrumbs from '@/components/Breadcrumbs.astro'
import Link from '@/components/Link.astro'
import PageHead from '@/components/PageHead.astro'
import Layout from '@/layouts/Layout.astro'
---

<Layout class="max-w-3xl">
  <PageHead slot="head" title="About" />
  <Breadcrumbs items={[{ label: 'About', icon: 'lucide:info' }]} />

  <section>
    <div class="min-w-full">
      <div class="prose mb-8">
        <p class="mt-0">
          Hi, I’m Anjishnu Banerjee, a computer science student at VIT Chennai.
          I’ve always loved computers and enjoy building things with game
          engines, emulators, or anything else that catches my curiosity.<br
          /><br />

          I’m currently exploring different areas in tech, but I’m especially
          drawn to graphics rendering pipelines and emulation. You can check out
          my projects to get a sense of the tech stack I work with.<br /><br />

          If you’d like to get in touch, links are in the footer. I’m most
          active on Discord (<code>kaezrr</code>), so feel free to DM me there.<br
          /><br />

          Beyond coding, I like tinkering with Linux, or “ricing” as people call
          it these days. I’ve uploaded all my
          <Link href="https://github.com/kaezrr/dotfiles" external underline
            >dotfiles</Link
          > on GitHub — feel free to use or fork them.<br /><br />

          My current workflow runs on
          <Link href="https://cachyos.org/" external underline>CachyOS</Link> using
          <Link href="https://neovim.io/" external underline>Neovim</Link>,
          <Link href="https://sw.kovidgoyal.net/kitty/" external underline
            >Kitty terminal</Link
          >,
          <Link href="https://fishshell.com/" external underline
            >Fish shell</Link
          >, and
          <Link href="https://github.com/tmux/tmux" external underline
            >Tmux</Link
          >. I'm also a big fan of
          <Link href="https://www.zenbrowser.dev/" external underline
            >Zen Browser</Link
          >. I’ve been exploring
          <Link href="https://nixos.org/" external underline>NixOS</Link> lately,
          its declarative approach is really fascinating.<br /><br />

          In my free time, I play a lot of games and have fully switched to
          gaming on Linux. Thanks to
          <Link href="https://www.valvesoftware.com/en/" external underline
            >Valve</Link
          > and
          <Link href="https://www.protondb.com/" external underline>Proton</Link
          >, the experience is smooth and enjoyable.
        </p>
      </div>
    </div>
  </section>
</Layout>
